<section class="sectionHeader">
  <div class="container-fluid header header-color">
      
          <div class="col-md-6 col-sm-12">
            <ul class="list top-menu-ul">
                <li><a>Direction to SHRC </a></li>
                <li><a> | Appointment</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
              <ul class="list top-menu-ul-right pull-right"> 
                  <li><a>About us </a></li>
                  <li><a> | Carrier</a></li>
                  <li><a> | info@siddagangahospital.com</a></li>
                  <li class="social-icon"><a> <i class="fa fa-facebook"></i></a></li>
                  <li class="social-icon"><a> <i class="fa fa-twitter"></i></a></li>
                  <li class="social-icon"><a> <i class="fa fa-google-plus"></i></a></li>
                  <li class="social-icon"><a> <i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
    </div>
</section>
<section class="logo-area">
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
             <img src="http://siddagangahospital.com/test/api/img/logo/SREE3.png" class="relative w100"> 
        </div>
        <div class="col-md-4  col-sm-12">
            <p class="relative w100 center">
              <img src="http://siddagangahospital.com/test/api/img/slider/swamiji1..png" class="swamiji">
              <img src="http://siddagangahospital.com/test/api/img/slider/swamiji2.png" class="swamiji">
            </p>
        </div>
        <div class="col-md-4  col-sm-12">
            <p style="font-size: 16px;color:#909292;"> Emergency : <i class="fa fa-phone"></i> 816 660 2223 | Hospital : <i class="fa fa-phone"></i> 816 660 2222 </p> 
          <p></p>
        </div>
    </div>
  </div>
 
</section>
